.auth {
    background-color: #f3f3f3;
    min-height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    
    .title-auth {
        h1 {
            text-align: center;
            margin: 0 0 30px;
        }
    }

    .formulaire {
        max-width: 550px;
        margin: 0 auto;
        background-color:#fff;
        padding: 30px;
        border-radius: 10px;

        .blc-input {
            margin: 0 0 15px;
        }

        button {
            margin: 0 auto;
            display: block;
        }
    }
}